<!doctype html>
<html lang="it">

<head>
    <title> Come Funziona </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row banner p-2">

            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 btn-group dropup">
                <button type="button" class="btn btn-custom "><a href="..">Home</a>
    
                </button>
            </div>


            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 btn-group dropup">

                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Azienda </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/chiSiamo">Chi Siamo</a>
                    <a class="dropdown-item" href="/doveSiamo">Dove Siamo</a>
                    <a class="dropdown-item" href="/contattaci">Contattaci</a>
                </div>


            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 btn-group dropup">

                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Informazioni </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/comeFunziona">Come funziona</a>
                    <a class="dropdown-item" href="/servizi">Servizi</a>
                    <a class="dropdown-item" href="/conChiLavoriamo">Con chi lavoriamo</a>
                </div>
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 btn-group dropup">

                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Condizioni </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/condizioniDiVendita">Condizioni di Vendita</a>
                    <a class="dropdown-item" href="/informativaSullaPrivacy">Informativa sulla Privacy</a>
                </div>
            </div>

            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 btn-group dropup">
                <button type="button" class="btn btn-custom "><a href="/login">Accedi</a>
    
                </button>
            </div>

            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 btn-group dropup">
                <button type="button" class="btn btn-custom "><a href="/registrati">Registrati</a>
    
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="rettangolo text-left p-4">
                    <!--<img src="../sfondoTesto.jpg">-->
                    <h3>Trasloca con tranquillità</h3>
                    <p> Trasferirsi in un'altra casa, cambiare città o paese è un avvenimento importante della propria vita.
                        Per affrontare questo cambiamento al meglio, è essenziale scegliere una buona ditta di traslochi.
                        Se non sai da dove cominciare, questo è il sito giusto per te. </p>
                    <h5> Come funziona </h5>
                    <p> Una volta che ti sarai registrato al sito, potrai in qualsiasi momento richiedere un preventivo andando
                        sul tuo profilo e compilando gli appositi campi. In questo modo potremo contattare l'azienda di traslochi
                        più vicina e il prima possibile riceverai il tuo preventivo senza alcun impegno. Starà a te decidere
                        se confermare l'appuntamento o meno. </p>
                    <h5> Quanto può costare il trasloco?</h5>
                    <p> Sembra ovvio, ma spesso si sottovaluta l'impegno necessario ad effettuare un trasloco, i suoi problemi
                        pratici e tutti quegli elementi che fanno aumentare il costo finale. Per questo, quando prendete
                        un appuntamento, la conferma viene richiesta dopo il preventivo e non è automatica: il cliente deve
                        prendere visione dei costi ed essere d'accordo con quanto è stato deciso. La tabella sottostante
                        riporta tutte le voci che fanno variare il costo. TraslocoSicuro ha molti collaboratori, perciò tutti
                        i costi riportati sono delle medie. Il costo effettivo verrà comunicato solo dopo aver richiesto
                        un preventivo.

                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Servizi</th>
                                <th>Distanza</th>
                                <th></th>
                                <th>Costi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Imballaggio</td>
                                <td></td>
                                <td></td>
                                <td>100 - 200 €</td>
                            </tr>
                            <tr>
                                <td>Smontaggio/Rimontaggio mobili</td>
                                <td></td>
                                <td></td>
                                <td>80 - 300 €</td>
                            </tr>
                            <tr>
                                <td>Documentazione/Permessi</td>
                                <td></td>
                                <td></td>
                                <td>80 - 90 €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Stessa città (100 km)</td>
                                <td></td>
                                <td>150 - 400 €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Lunga distanza (fino a 800 km)</td>
                                <td></td>
                                <td>450 - 1800 €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Intercontinentale</td>
                                <td></td>
                                <td>2000 - 6000 €</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5> Quali sono le variabili del costo? </h5>
                    <ul>
                        <p>
                            <li> Quantità di oggetti da trasportare (si considerano le dimensioni della casa). </li><br>
                            <li>Distanza tra la nuova e la vecchia abitazione. </li><br>
                            <li> Imballaggio e assemblaggio dei mobili. </li> <br>
                            <li> Attrezzatura aggiuntiva (piattaforme aeree o montacarichi). </li><br>
                            <li> Materiale per imballaggio </li> <br>
                            <li>Deposito Merci.</li>

                        </p>
                    </ul>
                    <h5> Come preparare gli scatoloni? Consigli utili se vuoi occuparti tu dell'imballaggio </h5>
                    <p> Se non hai mai traslocato, ti chiederai sicuramente come organizzare l'imballaggio, quali scatole usare
                        o se ci sono delle regole precise da seguire. Ecco dei consigli utili per fare tutto al meglio </p>



                    <!--    
                    <h5> Scatole </h5>
                    <p> Le scatole più pratiche per traslocare sono quelle con le maniglie e il fondo automatico. Questa tipologia
                        di scatole è molto resistente ed è velocissima sia da montare che da chiudere grazie al pratico fondo
                        automatico. Le maniglie, presenti sia sui lati corti che sui lati lunghi, facilitano notevolmente
                        il trasporto e le rendono particolarmente adatte agli spostamenti. Inoltre, le pratiche tabelle laterali
                        ti permettono di catalogare e identificare velocemente il contenuto di ogni scatola. Etichetta meticolosamente
                        le tue scatole in modo da trovare a colpo d’occhio tutto quello che si cerca una volta arrivati nella
                        nuova casa. Scrivi con un pennarello e in maniera leggibile ma cerca di essere più preciso possibile
                        così da poterle organizzare al meglio e da non dover aprire ogni scatola per sapere cosa contiene.</p>
                    <h5> Fodere di Plastica </h5>
                    <p>Le fodere di plastica ti permettono di proteggere i tuoi mobili durante il trasporto senza rischiare
                        di rovinarli inutilmente. Possono sembrare trascurabili ma faranno una grande differenza. </p>
                    <h5> Gli alveolari per piatti e bicchieri </h5>
                    <p> Piatti e bicchieri sono due delle cose che si rompono più frequentemente durante i traslochi, per evitare
                        questo spiacevole inconveniente utilizza gli appositi alveolari. Per un ulteriore protezione utilizza
                        l’interfalda in cartone, indispensabile quando devi separare gli oggetti più fragili. </p>
                    <h5> Scatola appendiabiti per i vestiti </h5>
                    <p> Trasportare i vestiti durante un trasloco, specialmente quelli delicati, richiede molta attenzione. La
                        soluzione per non stropicciarli e poterli riporre direttamente nel nuovo armadio è la scatola appendiabiti:
                        un armadio viaggiante per i tuoi abiti. Questa speciale scatola è dotata anche di: maniglie laterali,
                        anta frontale apribile, asta interna appendi grucce e barra blocca grucce.
                    </p>
                    <h5> Scatole multiuso e contenitori archivio per i documenti </h5>
                    <p> Per trasportare ordinatamente i documenti più importanti si possono usare i contenitori archivio. Dividili
                        per argomento o tipologia e riponi i contenitori nelle scatole multiuso. </p>

                    <h5> Scatola telescopica per aggiungere cose all’ultimo momento </h5>
                    <p> Ti sei dimenticato una camicia? Un album di foto? Nessun problema! Grazie alle scatole telescopiche che
                        si regolano in altezza puoi aggiungere quello che ti era sfuggito. </p> -->

                    <h5> Scatole e Scatoloni </h5>
                    <p> Non ci sono delle regole precise per quanto riguardano le scatole da utilizzate. In genere le dimensioni
                        ideali sono 30 x 40 oppure 40 x 50 cm. <br> Le scatole possono essere: <br>
                        <ul>
                            <li>a doppia onda = più pesanti e costose ma molto resistenti (ne servono qualcuna per gli oggetti
                                più pesanti). </li> <br>
                            <li> a onda singola = sono più leggere e meno resistenti e di conseguenza, più economiche. </li>
                            <br>
                            <li>Scatole con maniglie e fondo automatico = sono più costose ma sicuramente più pratiche (facili
                                e veloci da montare, chiudere e trasportare grazie alla presenza di maniglie). </li>
                    </p>
                    </ul>
                    <p> Etichetta meticolosamente le tue scatole in modo da trovare a colpo d’occhio tutto quello che si cerca
                        una volta arrivati nella nuova casa. Scrivi con un pennarello e in maniera leggibile ma cerca di
                        essere più preciso possibile così da poterle organizzare al meglio e da non dover aprire ogni scatola
                        per sapere cosa contiene (indica se possibile ogni oggetto contenuto nella scatola). </p>

                    <h5>Quante ne servono? </h5>
                    <p> Di solito si tende a sottovalutare la quantità di oggetti che si possiedono. Pensa al numero di scatole
                        che ti possono servire per quella stanza e aggiungine almeno 3. Per avere un’idea precisa, considera
                        che per un monolocale abitato da una persona sono necessarie circa una ventina di scatole (5 o 6
                        per gli oggetti fragili, 10 per i vestiti). Nel caso di un bilocale saranno circa 30, mentre per
                        una famiglia con figli possono anche arrivare ad essere una quarantina.
                        <p>

                            <h5> Consigli Pratici </h5>
                            <p> Puoi decidere se utilizzare solo normali scatoloni o comprare altri tipi di scatole molto più
                                funzionali. <br>
                                <ul>
                                    <li> Fodere di Plastica per proteggere i mobili.</li> <br>
                                    <li> Alveolari per piatti e bicchieri (separi in maniera sicura gli oggetti più fragili).
                                        </li> <br>
                                    <li> Scatola appendiabiti per i vestiti (un armadio viaggiante per i tuoi abiti). </li> <br>
                                    <li> Scatole multiuso e contenitori archivio per i documenti. </li><br> </p>
                            </ul>
                            <p> Se desideri utilizzare solo normali scatoloni ti consigliamo di ricoprire tutti gli oggetti singolarmente
                                con la classica carta da imballo, in particolare piatti, bicchieri e oggetti fragili e di
                                arrotolare jeans e magliette per evitare che si stroppiccino. Utilizza carta da giornale
                                per riempire tutti i buchi e prepara una valigia con quello che ti può servire per i primi
                                giorni nella nuova casa.
                            </p>






                </div>
            </div>


        </div>
    </div>

















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>


</html>