<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Registrati</title>
</head>

<body>
    <h1 class="p-4">Inserisci i tuoi dati per registrarti ai nostri servizi</h1>

    <div class="container">
        <form method="POST" action="/registrati/locale">
            <div class="row pt-4 pl-4">
                <div class="form-group col-4">
                    <label for="nome">Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="form-group col-4">
                    <label for="cognome">Cognome: </label>
                    <input type="text" class="form-control" id="cognome" name="cognome" required>
                </div>
                <div class="form-group col-3">
                    <label for="dataNascita">Data di Nascita: </label>
                    <input type="date" class="form-control" id="dataNascita" name="dataNascita" required>
                </div>
            </div>
            <div class="row pt-1 pl-4">
                <div class="form-group col-3">
                    <label for="via">Via: </label>
                    <input type="text" class="form-control" id="via" name="via" required>
                </div>
                <div class="form-group col-3">
                    <label for="stato">Stato: </label>
                    <input type="text" class="form-control" id="stato" name="stato" required>
                </div>
                <div class="form-group col-2">
                    <label for="citta">Città: </label>
                    <input type="text" class="form-control" id="citta" name="citta" required>
                </div>
                <div class="form-group col-2">
                    <label for="provincia">Prov: </label>
                    <input type="text" class="form-control" id="provincia" name="provincia" required>
                </div>
                <div class="form-group col-2">
                    <label for="cap">CAP: </label>
                    <input type="text" class="form-control" id="cap" name="cap" required>
                </div>
            </div>
            <div class="row pt-1 pl-4">
                <div class="form-group col-4">
                    <label for="telefono">Telefono: </label>
                    <input type="number" class="form-control" id="telefono" name="telefono" required>
                </div>
                <div class="form-group col-4">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group col-4">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="row pt-1 pl-4">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Registrati</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>